.idea
*.pyc
.wallpapers
wallpapers
logs/*
config.json
wallpaper.txt
port.txt
ui_port.txt
.buildozer
*.apk
.*
!/.github/
old_app_src
home*
widgets.py
bin/
app_src/android_notify/
tools/
test_dev*
*.db*
*.json
ImageDataBase error: _conn