kivy
kivymd==2.0.0
materialyoucolor
asynckivy
pyjnius==1.7.0
android-notify
python-osc
android-widgets
https://github.com/fector101/plyer/archive/feature/file-type-parser.zip
buildozer
cython==0.29.34
pillow
